# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Test / Reports
reports/
*.html

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment variables
.env

# pytest cache
.pytest_cache/